:root {
  --header-height: 2.5rem;
  --nav-width: 70px;
  --first-color: #2f4050;
  // #003C43
  --first-color-light: #d7d7d7;
  --white-color: #f7f6fb;
  /* --body-font: "Nunito", sans-serif; */
  --normal-font-size: 10.5px;
  --z-fixed: 100;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  /* font-family: var(--body-font); */
  /* font-size: var(--normal-font-size) !important; */
  transition: 0.3s;
  /* line-height: 0; */
  /* background-color: var(--white-color); */
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: 0.5s;
}

.header_toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: 0rem 0.5rem 0 0;
  font-size: 12px !important;
  transition: 0.5s;
  z-index: var(--z-fixed);
}

.nav_width {
  width: 42px !important;
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  flex-wrap: nowrap;
}

.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 0.6rem;
  padding: 0.5rem 0 0.5rem 0.7rem;
}

.nav_link_sub {
  margin-top: -12px !important;
}

.nav_logo {
  width: 110px !important;
  margin: 0 auto !important;
  margin-bottom: 1.5rem !important;
  margin-top: 3px !important;
  padding-left: 7px !important;
}
.nav_logo:hover {
  text-decoration: none;
}
.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav_logo-name {
  color: var(--white-color);
  font-weight: 700;
  text-transform: uppercase;
}
.nav a:hover {
  color: #fff;
}

.toggle_margin {
  margin-left: -40px !important;
}

.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 0.3rem;
  transition: 0.3s;
  margin-left: -38px !important;
  /* letter-spacing:-1px; */
  font-size: 11px;
}

.nav_link:hover {
  color: var(--white-color);
  text-decoration: none;
}

.sideBareIcons {
  font-size: 16px !important;
}

.show-sidebar {
  left: 0;
}

.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}

.height-100 {
  height: 100vh;
}

#logoutBtn {
  transform: rotate(180deg);
}

// #logoutBtn:hover {
//   color: rgb(17, 17, 107) !important;
// }

#logoHczSideBar {
  width: 25px !important;
}



.fa-sidebar {
  font-size: 10px !important;
  margin-top: -2.5px !important;
  margin-right: 15px !important;
}

.nav_name {
  min-width: 165px;
}

.fa-bars {
  font-size: 14px !important;
  /* height: 23px !important; */
}

.rotate {
  transform: translateY(-20%) rotate(90deg);
}

// .header {
//   line-height: 0 !important;
// }

li .active:not(.subMenuItems) {
  color: #fff !important;
}

#navbarDropdown {
  font-size: 12px !important;
  color: rgb(85, 85, 85) !important;
  border: none !important;
  background-color: transparent !important;
}

// .dropdown-content {
//   display: none;
//   position: absolute;
//   background-color: #f9f9f9;
//   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.384);
//   z-index: 1;
//   text-align: center;

// }

// .dropdown-content a {
//   float: none;
//   color: black;
//   padding: 8px 8px 10px 10px;
//   text-decoration: none;
//   font-size: 12px;
//   display: block;
//   text-align: left;
// }

// .dropdown-content a:hover {
//   background-color: #7593ae!important;
//   color: white;
// }



.subMenuItems {
  color: var(--first-color-light);
}

.subMenuItems:hover {
  text-decoration: none !important;
}

// @media screen and (min-width: 768px) {
body {
  margin: calc(var(--header-height)) 0 0 0;
  padding-left: calc(var(--nav-width));
}

.header {
  height: calc(var(--header-height));
  // padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  padding: 0 0.1rem 0 calc(var(--nav-width) + 2rem)
}

.l-navbar {
  left: 0;
  padding: 0rem 0.5rem 0 0;
  height: 100%;
}

.show-sidebar {
  width: calc(var(--nav-width) + 166px);
}

.body-pd {
  padding-left: calc(var(--nav-width) + 188px);
}
// }

#logo-img {
  width: 30px;
  margin-left: -10px;
}

a {
  text-decoration: none;
  // color: white;
}
li {
  list-style-type: none;
}

.navbarPath {
  font-size: 11px;
  margin-left: 40px;
  color: rgb(85, 85, 85);
  font-weight: bold;
}

.icon-module{
  border-radius: 5px;
  cursor: pointer;
  width: 52px;
  padding-top: 10px;

  h5{
    color :rgb(52, 52, 52);
    font-size: 9px !important;
    visibility: hidden;
    margin-bottom: 0 !important;
  }
}

.icon-module {

  &:hover {

    .image-module {
      width: 30px;
      transition: 0.2s;
    }

    h5 {
      transition: 0.2s;
      visibility: visible;

    }

  }
}

.image-module{
  width: 28px;
}

.sum-module-title{
  font-size: 2rem !important;
  color: #7593ae !important;
  // letter-spacing: 3px !important;

}
