{% extends 'base.html.twig' %}

{% block title %}Gestion des conducteurs{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('settings_conducteur') }}
{% endblock %}

{% block body %}
<div class="main">
<div class="container">
    <div class="row">
        <div class="col-md-12 mt-3">
            <div class="row no-gutters mb-2">
                <div class="col-md-6 d-flex justify-content-start align-items-center">
                    <div class="w-100">
                        <h5>LISTE DES CONDUCTEURS :</h5>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-end align-items-center ml-auto">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addConducteur">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>

            <table id="conducteurTable" class="table table-striped table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>CIN</th>
                        <th>Permis</th>
                        <th>Téléphone</th>
                        <th>Statut</th>
                        <th>Actions</th>
                    </tr>
                </thead>        
                <tbody>
                  
                </tbody>
            </table>
        </div>

   <!-- Modal Add Conducteur -->
<div class="modal right fade" id="addConducteur" role="dialog" aria-labelledby="addConducteur" aria-hidden="true">
    <div class="modal-dialog" style="width:40%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary">AJOUTER CONDUCTEUR</h5>
                <button type="button" class="close" data-dismiss="modal" id="closeAddConducteur" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nom">Nom</label>
                        <input type="text" class="form-control" name="nom" id="nom" required placeholder="Nom" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="prenom">Prénom</label>
                        <input type="text" class="form-control" name="prenom" id="prenom" required placeholder="Prénom" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="cin">CIN</label>
                        <input type="text" class="form-control" name="cin" id="cin" required placeholder="CIN" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="telephone">Téléphone</label>
                        <input type="text" class="form-control" name="telephone" id="telephone" required placeholder="Téléphone" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="permisNumero">Numéro de permis</label>
                        <input type="text" class="form-control" name="permisNumero" id="permisNumero" required  placeholder="Numéro de permis"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="permisDateObtention">Date d'obtention</label>
                        <input type="date" class="form-control" name="permisDateObtention" id="permisDateObtention" required />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="permisType">Type de permis</label>
                        <input type="text" class="form-control" name="permisType" id="permisType" required placeholder="Type de permis" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="email" required placeholder="Email" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="adresse">Adresse</label>
                        <input type="text" class="form-control" name="adresse" id="adresse" required placeholder="Adresse" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="dateNaissance">Date de naissance</label>
                        <input type="date" class="form-control" name="dateNaissance" id="dateNaissance" required />
                    </div>
                </div>

                <div class="form-group">
                    {# <label>Status</label> #}
                    <div class="d-flex">
                        <div class="form-check mr-3">
                            <input class="form-check-input" type="radio" name="status" id="actif" value="actif" checked>
                            <label class="form-check-label" for="actif">Actif</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="status" id="desactif" value="desactif">
                            <label class="form-check-label" for="desactif">Désactif</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer m-2">
                <button type="button" class="btn-sm btn btn-primary saveAddConducteur ladda-button" data-spinner-size="18" data-style="expand-right">
                    <span class="ladda-label">
                        <i class="fa-regular fa-floppy-disk"></i> Enregistrer
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>


   <!-- Modal Update Conducteur -->
<div class="modal right fade" id="updateConducteur" role="dialog" aria-labelledby="updateConducteur" aria-hidden="true">
    <div class="modal-dialog" style="width:40%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">MODIFIER CONDUCTEUR</h5>
                <button type="button" class="close" id="closeUpdateConducteur" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <input type="hidden" name="id" id="idConducteur" />

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nomUpd">Nom</label>
                        <input type="text" class="form-control" name="nomUpd" id="nomUpd" required />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="prenomUpd">Prénom</label>
                        <input type="text" class="form-control" name="prenomUpd" id="prenomUpd" required />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="cinUpd">CIN</label>
                        <input type="text" class="form-control" name="cinUpd" id="cinUpd" required />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="telephoneUpd">Téléphone</label>
                        <input type="text" class="form-control" name="telephoneUpd" id="telephoneUpd" required />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="permisNumeroUpd">Numéro de permis</label>
                        <input type="text" class="form-control" name="permisNumeroUpd" id="permisNumeroUpd" required />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="permisTypeUpd">Type de permis</label>
                        <input type="text" class="form-control" name="permisTypeUpd" id="permisTypeUpd" required />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="emailUpd">Email</label>
                        <input type="email" class="form-control" name="emailUpd" id="emailUpd" required />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="adresseUpd">Adresse</label>
                        <input type="text" class="form-control" name="adresseUpd" id="adresseUpd" required />
                    </div>
                </div>

                <!-- Optionnel : à décommenter si utilisé -->
                <!--
                <div class="form-group">
                    <label for="dateNaissanceUpd">Date de naissance</label>
                    <input type="date" class="form-control" name="dateNaissanceUpd" id="dateNaissanceUpd" />
                </div>
                -->

                <div class="form-group">
                    <label>Status</label>
                    <div class="d-flex">
                        <div class="form-check mr-3">
                            <input class="form-check-input" type="radio" name="statusupd" id="actifupd" value="actif" checked>
                            <label class="form-check-label" for="actifupd">Actif</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="statusupd" id="desactifupd" value="desactif">
                            <label class="form-check-label" for="desactifupd">Désactif</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer m-2">
                <button type="button" id="updateBtn" class="btn-sm btn btn-primary saveUpdateConducteur ladda-button" data-spinner-size="18" data-style="expand-right">
                    <span class="ladda-label">
                        <i class="fa-regular fa-floppy-disk"></i> Enregistrer
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

    </div>
</div>
</div>
{% endblock %}
